<div class="app-footer">
	<!-- Footer -->
	<footer class="page-footer font-small blue pt-4">

		<!-- Footer Links -->
		<div class="container-fluid text-center text-md-left">

			<!-- Grid row -->
			<div class="row">
				<!-- Grid column -->
				<div class="col-xs-12 col-sm-6 col-md-3">

					<!-- Links -->
					<strong class="text-uppercase">About</strong>

					<ul class="list-unstyled">
						<li>
							<a>Contact Us</a>
						</li>
						<li>
							<a>About Us</a>
						</li>
						<li>
							<a>Career</a>
						</li>
						<li>
							<a>Press Relese</a>
						</li>
					</ul>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-xs-12 col-sm-6 col-md-3" [ngClass]="{'border-left':isLargeScreen}">

					<!-- Links -->
					<strong class="text-uppercase">HELP</strong>

					<ul class="list-unstyled">
						<li>
							<a>Payments</a>
						</li>
						<li>
							<a>Shipping</a>
						</li>
						<li>
							<a>Cancellation & Returns</a>
						</li>
						<li>
							<a>FAQ</a>
						</li>
					</ul>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-xs-12 col-sm-6 col-md-3" [ngClass]="{'border-left':isLargeScreen}">
					<strong class="text-uppercase">Mail Us:</strong><br/>
					akshu28bhavsar@gmail.com
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-xs-12 col-sm-6 col-md-3" [ngClass]="{'border-left':isLargeScreen}">
					<strong class="text-uppercase">Registered Office Address:
					</strong><br />
						25, Sarawati Colony,
						Shirpur, Dist-Dhule,
						425405
					<br>
					Telephone: <a style="color: #337ab7;">+91 9975744477</a>
				</div>
				<!-- Grid column -->

			</div>
			<!-- Grid row -->

		</div>
		<!-- Footer Links -->

		<!-- Copyright -->
		<div class="footer-copyright text-center py-3" style="margin-top: 15px;">
			© 2020 Copyright: Akshay Bhavsar
		</div>
		<!-- Copyright -->

	</footer>
	<!-- Footer -->

</div>